<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="historico">
      <ion-icon name="time" style="color:#7567E5;opacity: 0.5;"></ion-icon>
      <ion-label>Histórico</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="inicio">
      <ion-icon name="home" style="color:#5451D7;"></ion-icon>
      <ion-label>Início</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="adicionar">
      <ion-icon name="add-circle" style="color:#7567E5;opacity: 0.5;"></ion-icon>
      <ion-label>Adicionar</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
