ion-content{
    background-color: #fff;
    .titulo{
        font-weight: 600;
        font-size: 14px;
        margin-top: 18px;
        text-align: center;
    }
}
ion-card-content{
    font-size: 14px;
}