<ion-content>
    <ion-item>
        <ion-label position="stacked">Nome será excluido: </ion-label>
        <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="stacked">Nome: </ion-label>
        <ion-select>
            <ion-select-option value="MERCADO">Mercado</ion-select-option>
            <ion-select-option value="LAZER">Lazer</ion-select-option>
            <ion-select-option value="PAGAMENTO">Pagamento</ion-select-option>
            <ion-select-option value="COMIDA">Comida</ion-select-option>
            <ion-select-option value="ROUPAS">Roupas</ion-select-option>
            <ion-select-option value="COMBUSTIVEL">Combustivel</ion-select-option>
        </ion-select>
    </ion-item>
    <ion-item>
        <ion-label position="stacked">Icon: </ion-label>
        <ion-input type="url"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="stacked">Método de Pagamento: </ion-label>
        <ion-select>
            <ion-select-option value="CARTAOCRED">Cartão de Crédito</ion-select-option>
            <ion-select-option value="CARTAODEB">Cartão de Débito</ion-select-option>
            <ion-select-option value="DINHEIRO">Dinheiro</ion-select-option>
        </ion-select>
    </ion-item>
    <ion-item>
        <ion-label position="stacked">Valor: </ion-label>
        <ion-input type="number"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="stacked">Data: </ion-label>
        <ion-input type="date"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="stacked">Mês: </ion-label>
        <ion-select>
            <ion-select-option value="JANEIRO">Janeiro</ion-select-option>
            <ion-select-option value="FEVEREIRO">Fevereiro</ion-select-option>
            <ion-select-option value="MARCO">Março</ion-select-option>
            <ion-select-option value="ABRIL">Abril</ion-select-option>
            <ion-select-option value="MAIO">Maio</ion-select-option>
            <ion-select-option value="JUNHO">Junho</ion-select-option>
            <ion-select-option value="JULHO">Julho</ion-select-option>
            <ion-select-option value="AGOSTO">Agosto</ion-select-option>
            <ion-select-option value="SETEMBRO">Setembro</ion-select-option>
            <ion-select-option value="OUTUBRO">Outubro</ion-select-option>
            <ion-select-option value="NOVEMBRO">Novembro</ion-select-option>
            <ion-select-option value="DEZEMBRO">Dezembro</ion-select-option>
        </ion-select>
    </ion-item>
    <ion-fab vertical="bottom" horizontal="end">
        <ion-fab-button (click)="salvar()" [disabled]="!form.valid">
          <ion-icon name="checkmark-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab>
</ion-content>
